*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.heading{
    background-color: #2877b9 ;
    width: 1364px;
    margin: auto;
  
}
.head_logo{
  float: left;
  width: 40%;
}
.head_logo img{
    width: 200px;
    margin-left: 20px;
    margin-top: -15px;
}
.head_menu{
   float: right;
   width: 60%;
}
.head_menu ul{
    list-style: none;
    text-align: right;
    margin-right: 20px;
}
.head_menu ul li{
    display: inline-block;
    margin-left: -5px;
    transition: .5s;
   
}
.head_menu ul li a{
    display: block;
    text-decoration: none;
    padding: 0 30px;
    line-height: 85px;
   color: #fff;
   border-right: 1px solid #fff;
}
.head_menu ul li a:nth-child(1){
    border-left: 1px solid #fff;
}
.head_menu ul li:hover{
   background-color: rgba(128, 128, 128, 0.438);
}

/*      banner section      */

.banner{
    background: url(https://i.ibb.co/fSSxK7N/banner.jpg) no-repeat top center;
    background-size: cover;
   padding: 220px 0;
  
}

.banner_caption{
  text-align: center;
    color: #fff;
}
.banner_caption h2{
    width: 400px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto;
    background-color: #808080c2;
    font-size: 35px;
}
.banner_caption h3{
    width: 500px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto;
    background-color: #ffa500cc;
    font-size: 40px;
    margin-top: 15px;
}

/*     about secetion    */

.about_section{
    padding: 30px 0;
    width: 1000px;
    margin: auto;
    
}
.about_caption{
   width: 800px;
   margin: auto;
   text-align: center;
   margin-top: 50px;
}
.about_caption h2{
    font-size: 40px;
}
.about_caption p{
    font-size: 20px;
    margin-top: 15px;
}

.about_box{
    display: inline-block;
    width: 31%;
   text-align: center;
   border: 1px solid orange;
   padding: 15px ;
   margin-right: 20px;
   margin-top: 40px;
   position: relative;
   z-index: 1;
}
.about_box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.774);
    z-index: -1;
    transition: .4s;
   
}
.about_box:hover::after{
    width: 100%;
  
}
.about_box span{
    font-size: 25px;
    color: teal;
    border: 1px solid #111;
    border-radius: 20px 0 20px 0;
    padding: 15px;
    display: inline-block;
    margin-bottom: 20px;
}
.about_box h3{
    font-size: 30px;
}
.about_box p{
    font-size: 18px;
    margin: 15px 0;
}

/*      content      */
.content{
  padding: 50px 0;
   display: inline-block;
}
.left_site{
    float: left;
   margin-left: 50px;
}
.left_site_writing img{
    width: 220px;
  margin-top: 20px;
  float: left;
   
}
.left_site_writing p{
    width: 600px;
    display: inline-block;
    margin-right: 20px;
    float: right;
    margin-top: 50px;
    margin-left: 20px;
}

.right_site{
    float: right;
   
}
.right_site ul{
    list-style: none;
}
.right_site li{
    font-size: 18px;
    border: 1px solid #111;
    padding: 5px;
    margin-bottom: 10px;
}

/*      footer section     */

.footer{
    background-color: #111;
}
.footer p{
    float: left;
    color: #fff;
    margin-left: 30px;
    padding: 10px 0;
}
.footer_icon span{
    float: right;
    font-size: 20px;
    color: #fff;
    margin-right: 30px;
    margin-top: 10px;

}
.footer_icon span i{
    margin-right: 10px;
}